.mb-1 {
  margin-bottom: var(--s1);
}
.mb-2 {
  margin-bottom: var(--s2);
}
.mb-3 {
  margin-bottom: var(--s3);
}
.mb-4 {
  margin-bottom: var(--s4);
}
.mb--1 {
  margin-bottom: var(--s-1);
}
.mb--2 {
  margin-bottom: var(--s-2);
}
.mb--3 {
  margin-bottom: var(--s-3);
}
.mb--4 {
  margin-bottom: var(--s-4);
}

.mr-1 {
  margin-right: var(--s1);
}
.mr-2 {
  margin-right: var(--s2);
}
.mr--1 {
  margin-right: var(--s-1);
}
.mr--2 {
  margin-right: var(--s-2);
}
.mr--4 {
  margin-right: var(--s-4);
}

.ml-3 {
  margin-left: var(--s3);
}
.ml--3 {
  margin-left: var(--s-3);
}
.ml-1 {
  margin-left: var(--s1);
}

.p--4 {
  padding: var(--s-4);
}
.p--3 {
  padding: var(--s-3);
}
.p--2 {
  padding: var(--s-2);
}
.p--1 {
  padding: var(--s-1);
}
.p-1 {
  padding: var(--s1);
}
.p-2 {
  padding: var(--s2);
}
