---
layout: base.njk
stylesheet: /css/blog.css
moreStyleSheet: <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
---

<header>
  <a href="https://www.sametable.app">Home</a>
</header>
<article class="markdown-body">
{{ content | safe }}
</article
