---
layout: base.njk
stylesheet: /css/blog.css
moreStyleSheet: <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
---

<header style="padding: 20px;">
  <a href="https://www.sametable.app">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="28"
      width="28"
      viewBox="0 0 24 24"
      style="vertical-align:middle"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M10 10.02h5V21h-5V10.02zM17 21h3c1.1 0 2-.9 2-2v-9h-5v11zm3-18H5c-1.1 0-2 .9-2 2v3h19V5c0-1.1-.9-2-2-2zM3 19c0 1.1.9 2 2 2h3V10H3v9z"
      /></svg
  ></a>
  <span style="color:grey;padding:0 6px">|</span>
  <a href="https://www.sametable.app/blog">Blog</a>
</header>
<main>
  <article class="markdown-body" role="article">
    {{ content | safe }}
  </article>
</main>
